<div id class="ContenedorCarrusel">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">

      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>

    </div>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="../../../../assets/images/banners/NewYorkBanner.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 300%;">Nueva York</h5>
          <p style="font-size: 20px;">Estados Unidos de America</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/images/banners/RioBanner.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 300%;">Rio de Janeiro</h5>
          <p style="font-size: 20px;">Brasil</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/images/banners/LondresBanner.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 300%;">Londres</h5>
          <p style="font-size: 20px;">Inglaterra</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/images/banners/TokioBanner.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 300%;">Tokio</h5>
          <p style="font-size: 20px;">Japon</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/images/banners/SidneyBanner.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 300%;">Sidney</h5>
          <p style="font-size: 20px;">Australia</p>
        </div>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</div>


<section id="CarruselNac">
  <div class="ContendorCardCarousel">
    <div class="contenedorTitulo">
      <h5 style="color: black; font-size: 30px;">Principales Destinos Nacionales</h5>
    </div>

    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">


        <div class="carousel-item active">
          <h5 style="color: black; margin-top: 1%; margin-bottom: 1%;">Pueblos Magicos</h5>
          <div class="cards-wrapper">
            
            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/SanMiguel.jpg" alt="...">
              </div>

              <div class="card-body">
                <h5 class="card-title">San Miguel de Allende</h5>
                <p class="card-text">Guanajuato</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/Bernal.jpg" alt="...">
              </div>
              
              <div class="card-body">
                <h5 class="card-title">Bernal</h5>
                <p class="card-text">Querétaro</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/Janitzio.jpg" alt="...">
              </div>

              <div class="card-body">
                <h5 class="card-title">Isla de Janitzio</h5>
                <p class="card-text">Michoacán</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/Taxco.jpg" alt="...">
              </div>

              <div class="card-body">
                <h5 class="card-title">Taxco</h5>
                <p class="card-text">Guerrero</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

          </div>
        </div>


        <div class="carousel-item">
          <h5 style="color: black; margin-top: 1%; margin-bottom: 1%;">Playas</h5>
          <div class="cards-wrapper">
            
            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/LosCabos.jpg" alt="...">
              </div>

              <div class="card-body">
                <h5 class="card-title">Los Cabos</h5>
                <p class="card-text">Baja California Sur</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/PlayaCarmen.jpg" alt="...">
              </div>

              <div class="card-body">
                <h5 class="card-title">Playa del Carmen</h5>
                <p class="card-text">Quintana Roo</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/Mazatlan.jpg" alt="...">
              </div>

              <div class="card-body">
                <h5 class="card-title">Mazatlán</h5>
                <p class="card-text">Sinaloa</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/Vallarta.jpg" alt="...">
              </div>

              <div class="card-body">
                <h5 class="card-title">Puerto Vallarta</h5>
                <p class="card-text">Jalisco</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

          </div>
        </div>


        <div class="carousel-item">
          <h5 style="color: black; margin-top: 1%; margin-bottom: 1%;">Zonas Arqueologicas</h5>
          <div class="cards-wrapper">
            
            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/Tulum.jpg" alt="...">
              </div>

              <div class="card-body">
                <h5 class="card-title">Tulum</h5>
                <p class="card-text">Yucatán</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/ChichenItza.jpg" alt="...">
              </div>

              <div class="card-body">
                <h5 class="card-title">Chichén Itzá</h5>
                <p class="card-text">Yucatán</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/Palenque.jpg" alt="...">
              </div>

              <div class="card-body">
                <h5 class="card-title">Palenque</h5>
                <p class="card-text">Chiapas</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card text-bg-dark">
              <div class="image-wrapper">
                <img src="../../../../assets/images/carrusel/nacional/Teotihuacan.jpg" alt="...">
              </div>

              <div class="card-body">
                <h5 class="card-title">Teotihuacán</h5>
                <p class="card-text">Estado de México</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>


<section id="CarouselInter">
  <div class="ContenedorCarInter">
    <div class="ContenedorTitulo">
      <h5 style="color: black; font-size: 30px; margin-bottom: 1.5%;">Principales Destinos Internacionales</h5>
    </div>

    <div id="carouselExampleFade" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="banner-inter-img">
            <img src="../../../../assets/images/carrusel/internacional/Dubai.jpg" alt="...">
          </div>

          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 200%; color: white;">Dubai</h5>
            <p style="font-size: 20px; color: white;">Emiratos Arabes Unidos</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="banner-inter-img">
            <img src="../../../../assets/images/carrusel/internacional/Paris.jpg" alt="...">
          </div>

          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 200%; color: white;">Paris</h5>
            <p style="font-size: 20px; color: white;">Francia</p>
          </div>
        </div>

        <div class="carousel-item active">
          <div class="banner-inter-img">
            <img src="../../../../assets/images/carrusel/internacional/Estambul.jpg" alt="...">
          </div>

          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 200%; color: white;">Estambul</h5>
            <p style="font-size: 20px; color: white;">Turquia</p>
          </div>
        </div>

        <div class="carousel-item active">
          <div class="banner-inter-img">
            <img src="../../../../assets/images/carrusel/internacional/Barcelona.jpg" alt="...">
          </div>

          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 200%; color: white;">Barcelona</h5>
            <p style="font-size: 20px; color: white;">España</p>
          </div>
        </div>

        <div class="carousel-item active">
          <div class="banner-inter-img">
            <img src="../../../../assets/images/carrusel/internacional/Cusco.jpg" alt="...">
          </div>

          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 200%; color: white;">Cusco</h5>
            <p style="font-size: 20px; color: white;">Peru</p>
          </div>
        </div>

        <div class="carousel-item active">
          <div class="banner-inter-img">
            <img src="../../../../assets/images/carrusel/internacional/Roma.jpg" alt="...">
          </div>

          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 200%; color: white;">Roma</h5>
            <p style="font-size: 20px; color: white;">Italia</p>
          </div>
        </div>

        <div class="carousel-item active">
          <div class="banner-inter-img">
            <img src="../../../../assets/images/carrusel/internacional/Santorini.jpg" alt="...">
          </div>

          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 200%; color: white;">Santorini</h5>
            <p style="font-size: 20px; color: white;">Grecia</p>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>


