<section id="imagenres">
  <div class="contbannerinfo" style=" height: 600px; background-image: url('../../../../assets/images/info/banner.jpg'); background-size: 100% 100%;">
    <div class="wrap">
			<div class="box">
				<h1>¿Quiénes somos?</h1>
				<p>Somos una empresa mexicana de viajes nacionales e internacionales,
          fundada en 2022 en San Luis Potosí.
          <br><br>
          Contamos con distinos paquetes a muchos destinos de interes a precios accesibles
          para que todos puedan disfrutar del viaje de sus sueños.
        </p>
			</div>
		</div>
  </div>
</section>